@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto';
}

body {
    color: #646464;
    
}

.container {
    background-color: #f0f8f8;
}

h1, h2 {
    color: #00669e;
    padding-block-end: .5rem;
    font-family: 'Russo One', sans-serif;
}

#galery img, .video-content {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

nav {
    background-color: #00669e;
    color: white;
    height: 100px;
    width: 100%;
}

.nav-links {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-inline-start: auto;
    padding-inline-end: 1rem;
}
nav li {
    padding: 15px;
    width: 120px;
    margin: 15px;
    text-align: center;
}

.active, nav li:hover {
    border-radius: 4px;
    background: rgba(171,225,250,0.25);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: white;
}

.sub-menu {
    display: none;
    margin-top: 15px;
    position: absolute;
    background-color: #00669e;
    margin-inline-start: -15px;
}

nav li:hover .sub-menu {
    display: block;
    background-color: none;

}

.fa-chevron-down {
    font-size: 16px;
    padding-left: .5rem;
}
header {
    top: 0;
    position: sticky;
}
.logo {
    background-image: url("../img/vink.jpg");
    background-size: contain;
    background-position: center;
    height: 75px;
    position: absolute;
    padding: 1rem;
    top: 12%;
    left: 3%;
    border-radius: 50%;
    font-weight: 700;
}
.logo:before {
    content: 'Vogels';
    vertical-align: -50%;
    font-size: 1.5;
}

.logo:hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
@media only screen and (max-width: 768px) {

    .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    nav {
        position: relative;
    }

    .nav-links {
        background-color: #00669e;
        /* position: fixed; */
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 1s ease-out;
    }

    .nav-links.open {
        clip-path: circle(1240px at 90% -10%);
        -webkit-clip-path: circle(1240px at 90% -15%);
    }

    .sub-menu {
        margin-block-start: -75px;
        margin-inline-start: 105px;
    }
}
@media only screen and (min-width: 768px) {
    header {
        position: relative;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1035px) {
    nav li {
        margin: 0px;
        width: 120px;
    }

    .nav-links {
        width: fit-content;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 2rem;
    }
} 