.container-contact > img {
    width: 100%;
    margin: 1rem auto 0;
    display: block;
    max-inline-size: 800px;
}

.intro {
    padding-block-start: 1.5rem;
}

form {
    padding-block-end: 2rem;
}
.container-contact > .intro, 
form > ul {
    margin: auto;
    padding: 1.5rem 1.5rem 0;
    max-width: 600px;
}

form li {
    display: flex;
    flex-direction: column;
    margin-block-end: .5rem;
}
label {
    padding-block-end: .25rem;
}
input {
    border: 1px solid gray;
    border-radius: 4px;
    font-size: inherit;
}

#vragen {
    height: 10rem;
}

#verzenden {
    right: 2rem;
    margin-block-start: .5rem;
    background-color: #00669e;
    color: white;
    padding: .5rem;
}

#verzenden:hover {
    cursor: pointer;
}